<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}} 
        <p>This site was created by Vilmarys Salgado. It uses data from mapbox.com and daraksky.net. </p>
        <!--<img src="/img/logo.jpg">-->
        <img class= "portrait" src="/img/logo.jpg">
    </div>

    {{>footer}}
</body>

</html>

